.progress {
    display: flex;
    flex-direction: row;
    height: 50%;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
    background-color: whitesmoke;
    position: relative;
}
.uploader{
    width: 80%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0%, -50%);
    z-index: 1;
}

.closeandprogress{
    position: relative;
}
.progress>div:first-child {
    flex: 0.2;
}

.progress>div:last-child {
    flex: 0.8;
}

.triangleright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.fileandprogress{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
}

.progressBar{
    width: 90%;
    height: 50%;
}

.progressLabel{
    font-size:large;
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.uploadError{
    color: red;
    font-size: large;
}
.modalTitle{
    color: blue;
    font-size: large;
}

.modalComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.fileName{
    color: blue;
}